
    ul {

      background-color: whight;
      list-style-type: none;
      margin: 0;
      padding: 1em;
      overflow: hidden;

    }

    li {
      float: right;

    }

    li a {

      display: block;
      background-color: whight;
      color: #CD0000;
      padding: 20px;
      text-decoration: none;
      text-align: center;
      font-weight: 800;

    }

    li a:hover {
      /*마우스오버시 호버효과*/
      background-color: #CD0000;
      color: white;

    }




    footer {
      position: fixed;
      left: 0px;
      bottom: 0px;
      height: 60px;
      width: 100%;
      background: #CD0000;
      color: white;
    }



    .container {
      padding: 1.5em;
      float: right;

    }



    /* GENERAL BUTTON STYLING */
    button,
    button::after {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    button {
      background: none;
      border: 3.5px solid #CD0000;
      /*사각 굵기*/
      border-radius: 2px;
      /*사각 둥글기*/
      color: #CD0000;
      /*와인색*/
      display: block;
      font-size: 15px;
      font-weight: 800;
      margin: 0.1em auto;
      /*상단바 위아래넓이*/
      padding: 0.3em 1.3em;
      /*사각 넓이*/
      position: relative;
      text-transform: uppercase;
      cursor: pointer;
    }

    button::before,
    button::after {
      background: #CD0000;
      content: '';
      position: absolute;
      z-index: -1;
    }

    button:hover {
      color: #fff;
    }

    /* BUTTON 5 */
    .btn-5 {
      overflow: hidden;
    }

    .btn-5::after {
      /*background-color: #f00;*/
      height: 100%;
      left: -35%;
      top: 0;
      transform: skew(50deg);
      transition-duration: 0.6s;
      transform-origin: top left;
      width: 0;
    }

    .btn-5:hover:after {
      height: 100%;
      width: 135%;
    }

  

    * {
      box-sizing: border-box;
    }

    body {
      overflow-x: hidden;
      overflow-y: auto;
    }


    /* Style the header */
    .header {

      padding: 20px;
      text-align: left;

    }

    .apple_box {
      width: 350px;
      height: 596px;
      /* background-image: url("img/main_me.jpg");
      background-repeat: no-repeat;
      /*배경이미지 반복해제*/
      background-position: relative;
      left: 10%;
      bottom: 10%;
      margin-top: 93px;
      margin-left: 8%;
      margin-bottom: 67px;
      float: left;
    }



    
    .apple_box2 {
      width: 350px;
      height: 596px;
      /* background-image: url("img/main_me.jpg");
      background-repeat: no-repeat;
      /*배경이미지 반복해제*/
      background-position: relative;
      left: 10%;
      bottom: 10%;
      margin-top:200px;
      margin-left: 35%;
      margin-bottom: 67px;
      float: left;
    }



    .profile_images {
      width: 572px;
    
      
    }

    

    
    .profile_images2 {
      width: 500px;

      
    }


    

    
    .profile_images3 {
      width: 350px;
      position:fixed; 
      top:0;
      left:0;
      right:0;
      margin:auto;
      bottom:0;
      
    }





    /*세로로 쓰기*/
      .tmi {

        /* bottom: 10%; */
        /* 위아래 높이 조절 */
        margin-top: 401px;
        font-size: 7ex;
        font-weight: 200;
        color: #CD0000;
        width: 585px;
        height: 0px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        line-height: 45px;
        letter-spacing: 9px;
        float:left;
      }



        /*세로로 쓰기2*/
        .tmi_2 {

          /* bottom: 10%; */
          /* 위아래 높이 조절 */
          margin-top: 553px;
          font-size: 4ex;
          font-weight: 200;
          color: #CD0000;
          width: 585px;
          height: 0px;
          /* -webkit-transform: rotate(90deg); 
          -ms-transform: rotate(90deg);  */
          line-height: 40px; /*행간*/
          letter-spacing: 3px; /*자간*/
          float:left;
          margin-left: -165px;
        }


/*hi i am chaebin*/
        .tmi_3 {
          font-size: 4ex;
          font-weight: 200;
          color: #000000;
          width: 585px;
          height: 0px;
          /* -webkit-transform: rotate(90deg); 
          -ms-transform: rotate(90deg);  */
          line-height: 40px; /*행간*/
          letter-spacing: 3px; /*자간*/
          position:absolute; 
          top:300px;
          left: 450px;
        }



/*If you want to know me, press the button*/
                .tmi_4 {
                  font-size: 4ex;
                  font-weight: 200;
                  color: #030303;
                  width: 585px;
                  height: 0px;
                  line-height: 40px; /*행간*/
                  letter-spacing: 3px; /*자간*/
                  position:absolute; 
                  top:600px;
                  left: 1200px;
                }


                .tmi_5 {
                  font-size:6ex;
                  font-weight: 200;
                  color: #030303;
                  letter-spacing: 3px; /*자간*/
                  position:absolute; 
                  top:130px;
                  left: 825px;

                }
        

                




    /* Style the top navigation bar */
    .topnav {
        position: fixed;
        top: 0;
        /* width: 100% */
        left: 0;
        right: 0;
        background: white;
        color: blue;
        z-index: 99999;
    }




    /*고양이 아이콘 버튼*/
    input.img-button {
      width: 300px;
      height: 250px;
      left: -110px;
      background: url('https://cdn.pixabay.com/photo/2016/10/14/17/55/cat-1740777_960_720.png'); /*임시로 고양이 벡터이미지 첨부*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      border-width: 0px;
      position: relative;
      top: 420px;
      /* right: 75px; */
      outline: 0;
    }

      







   .vl {
    /*세로줄*/
    border-left: 2.5px solid #CD0000;
    height: 200%;
    position: absolute;
    margin-left: 14%;
    top: 0;
    z-index: 999;
  }



      
  
    .column{
      float: left;
      width: 25%;
      height: 300px;
      margin-left: 7%;
      
    }
    






    /*왼쪽 말풍선*/
     .balloon_02 {
      position:relative;
      margin: 40px;
      width:300px;
      height:105px;
       background:#333333;
       border-radius: 12px;
       color: white;
       line-height: 100px;
       
     }
     .balloon_02:after {
      content:"";
      position:absolute;
      right:0px;
      top:10px;
      width: 0;
      height: 0;
      border: 24px solid transparent;
	border-left-color: #000000;
	border-right: 0;
	border-bottom: 0;
	margin-top: 58px;
  margin-right: -15px;
     }


     
     /*오른쪽 말풍선*/
      .balloon_03 {
      position:relative;
      margin: 40px;
      width:300px;
      height:105px;
       background:#333333;
       border-radius: 12px;
       color: white;
       line-height: 100px;
       
     }
     .balloon_03:after {
      border-top:15px solid #333333;
      border-left: 15px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 0px solid transparent;
      content:"";
      position:absolute;
      top:10px;
      left:-15px;
     }
 

     
     .memo {
      color: rgb(167, 165, 165);
      position:absolute; 
      top:660px;
      right: 160px;
     }
     
     
     .memo2 {
      color: rgb(167, 165, 165);
      position:absolute; 
      top:660px;
      right: 200px;
     }